{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body{
            background-image: linear-gradient(0, rgba(0,0,0), rgba(0, 0, 0, 0.4)),
            url({{ asset('img/shoes.jpg') }});
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            height: 680px;
        }
        .cart__content th{
            text-align: center;
            color: #ff6600;
        }
        .cart__content td{
            text-align: center;
        }
        .cart__content .action{
            width: 30%;
        }

    </style>
    <section class="cart container">
    <table class="table table-bordered cart__content table-dark ">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Shoes</th>
        <th scope="col">Category</th>
        <th scope="col">Inventory</th>
        <th scope="col">Price</th>
        <th scope="col">Supplier</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
        <tbody>
            {% for shoes in shoes %}
                <tr>
                    <th scope="row">{{ shoes.id }}</th>
                    <td>{{ shoes.name }}</td>
                    <td>{{ shoes.Category }}</td>
                    <td>{{ shoes.inventory }}</td>
                    <td>{{ shoes.price }}</td>
                    <td>{{ shoes.supplier.name }}</td>
                    <td class=" action">
                        <a href="{{ path('shoes_view', {'id': shoes.id}) }} " class='btn btn-success'>View</a>
                        <a href="{{ path('shoes_update', {'id': shoes.id}) }}" class='btn btn-info'>Update</a>
                        <a href="{{ path('shoes_delete', {'id': shoes.id}) }}" class='btn btn-danger'>Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <a href="{{ path('shoes_create') }}" class="btn btn-primary">Create new</a>

{% endblock %}