{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body{
            background-image: linear-gradient(0, rgba(0,0,0), rgba(0, 0, 0, 0.4)),
            url({{ asset('img/shoes.jpg') }});
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            height: 680px;
        }
        .cart__content th{
            text-align: center;
            color: #ff6600;
        }
        .cart__content td{
            text-align: center;
        }
        .cart__content .action{
            width: 30%;
        }
    </style>
    <section class="cart container">
        <table class="table table-bordered cart__content table-dark ">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Username</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for orders in orders %}
                <tr>
                    <th scope="row">{{ orders.id }}</th>
                    <td>{{ orders.date|date('F j,Y, g:i a') }}</td>
                    <td>{{ orders.quantity }}</td>
                    <td>{{ orders.total }}</td>
                    <td>{{ orders.user.name }}</td>
                    <td class=" action">
                        <a href="{{ path('orders_view', {'id': orders.id}) }} " class='btn btn-success'>View</a>
                        <a href="{{ path('orders_update', {'id': orders.id}) }}" class='btn btn-info'>Update</a>
                        <a href="{{ path('orders_delete', {'id': orders.id}) }}" class='btn btn-danger'>Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('orders_create') }}" class="btn btn-primary">Create new</a>
    </section>
{% endblock %}
